@page "/"

<PageTitle>Average pace</PageTitle>

<h1>Let's calculate your average pace!</h1>
<br/>
<h3>Enter number of intervals: <input type="number" value="@_intervalCount" @oninput="onchange_n" onfocus="this.select();"/> </h3>
<br/>
@for (var i = 0; i < _intervalCount; i++)
{
    var ii = i;
    <input type="number" value="@_minutes[ii]" @oninput="e => RecalculateMinutes(ii, e)" onfocus="this.select();"/>
    @::
    <input type="number" value="@_seconds[ii]" @oninput="e => RecalculateSeconds(ii, e)" onfocus="this.select();"/>
    <br/>
}
<br/>
<h3>Average pace: @_resultMinutes:@_resultSeconds.ToString("00")</h3> 

@code {
    private int _intervalCount;
    private readonly List<int> _minutes = new List<int>();
    private readonly List<int> _seconds = new List<int>();
    private int _resultMinutes;
    private int _resultSeconds;


    private void onchange_n(ChangeEventArgs e){
        if (int.TryParse(e.Value!.ToString(), out var n)) _intervalCount = n;
        _minutes.Clear();
        _seconds.Clear();
        _minutes.AddRange(Enumerable.Range(0, _intervalCount).Select(_ => 0));
        _seconds.AddRange(Enumerable.Range(0, _intervalCount).Select(_ => 0));
        _resultMinutes = 0;
        _resultSeconds = 0;
        StateHasChanged();
    }

    private void RecalculateMinutes(int i, ChangeEventArgs e)
    {
        var n = 0;
        if (int.TryParse(e.Value!.ToString(), out var auxn)) n = auxn;
        _minutes[i] = n;
        CalculateResult();
    }

    private void CalculateResult()
    {
        var totalSeconds = _minutes.Sum() * 60 + _seconds.Sum();
        var avgSeconds = (decimal)totalSeconds / _intervalCount;
        _resultMinutes = (int)Math.Round(avgSeconds / 60, 0, MidpointRounding.AwayFromZero);//(int)avgSeconds / 60;
        var t = avgSeconds % 60.00m;
        var g = Math.Round(avgSeconds % 60.00m, 0, MidpointRounding.AwayFromZero);
        var h = (int)Math.Round(avgSeconds % 60.00m, 0, MidpointRounding.AwayFromZero);
        _resultSeconds = (int)Math.Round(avgSeconds % 60, 0, MidpointRounding.AwayFromZero);
    }


    private void RecalculateSeconds(int i, ChangeEventArgs e)
    {
        var n = 0;
        if (int.TryParse(e.Value!.ToString(), out var auxn)) n = auxn;
        _seconds[i] = n;
        CalculateResult();
    }

}