@page "/"

<PageTitle>Average pace</PageTitle>

<h1>Let's calculate your average pace!</h1>
<br/>
<h3>Enter number of intervals: <input type="number" class="input-number" value="@_intervalCount" @oninput="onchange_n" onfocus="this.select();"/> </h3>
<br/>
@for (var i = 0; i < _intervalCount; i++)
{
    var ii = i;
    <input type="number" class="input-number minutes" value="@_minutes[ii]" @oninput="e => RecalculateMinutes(ii, e)" onfocus="this.select();" onblur="CorrectMinutes(this)"/>
    @::
    <input type="number" class="input-number seconds" value="@_seconds[ii]" @oninput="e => RecalculateSeconds(ii, e)" onfocus="this.select();" onblur="CorrectSeconds(this)" onchange="CorrectSeconds(this)"/>
    <br/>
}
<br/>
<h3>Average pace: <b>@AveragePace</b></h3>

@code {
    private int _intervalCount;
    private readonly List<int> _minutes = new List<int>();
    private readonly List<int> _seconds = new List<int>();
    private TimeSpan _result;
    private string AveragePace => $"{(int)_result.TotalMinutes}:{_result.Seconds:00}";


    private void onchange_n(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value!.ToString(), out var n))
        {
            if (n > 1000) n = 1000;
            _intervalCount = n;
        }
        _minutes.Clear();
        _seconds.Clear();
        _minutes.AddRange(Enumerable.Range(0, _intervalCount).Select(_ => 0));
        _seconds.AddRange(Enumerable.Range(0, _intervalCount).Select(_ => 0));
        _result = TimeSpan.Zero;
        StateHasChanged();
    }

    private void RecalculateMinutes(int i, ChangeEventArgs e)
    {
        var n = 0;
        if (int.TryParse(e.Value!.ToString(), out var auxn))
        {
            n = auxn;
        }
        _minutes[i] = n;
        CalculateResult();
    }

    private void CalculateResult()
    {
        var totalSeconds = _minutes.Sum() * 60 + _seconds.Sum();
        var avgSeconds = (double)totalSeconds / _intervalCount;
        _result  = TimeSpan.FromSeconds(Math.Round(avgSeconds));
    }


    private void RecalculateSeconds(int i, ChangeEventArgs e)
    {
        var n = 0;
        if (int.TryParse(e.Value!.ToString(), out var auxn))
        {
            if (auxn > 59) auxn = 59;
            n = auxn;
        }
        _seconds[i] = n;
        CalculateResult();
    }

}